h1 {
    text-align:center;
    font-size: 30px;
    padding-top: 20px;
    margin: 0 auto;
}

h2 {
    text-align:center;
    font-size: 60px;
    margin: 0 auto;
}

div {
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}

#slope {
    color: rgb(38, 193, 175);
}

#y-intercept {
    color: rgb(228, 107, 70);
}