body {
    font-family: sans-serif;
    margin: 0px;
}

h1 {
    text-align:center;
    font-size: 35px;
    padding: 0;
    margin: 0 auto;
}

h2 {
    text-align:center;
    font-size: 50px;
    margin: 0 auto;
}

div {
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}

.navigation-bar {
    background-color:rgb(200, 203, 210, 0.429);
    padding: 10px;
    margin-bottom: 0px;
}

.home-icon {
    float: left;
    top: 0;
    left: 0;
}

.index {
    text-align: center;
}

.page-button {
    display: block;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    height: 100px;
    line-height: 100px;
    text-decoration: none;
    border-radius: 10px;
    color: black;
}

.float-parent {
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

.float-child {
    flex-basis: 500px;
    margin: 10px;
}

.dialogue {
    font-size: 20px;
    margin-top: 120px;
    padding: 5px;
    width: 400px;
    height: 350px;
    background-color: rgb(219, 213, 213);
    text-align: center;
}

.dialogue:before {
    content: "";
    width: 0px;
    height: 0px;
    position: relative;
    border-left: 100px solid transparent;
    border-right: 70px solid rgb(219, 213, 213);
    border-bottom: 70px solid transparent;
    right: 130px;
    bottom: -330px;
}

.sliders {
    margin: 0px auto;
    width: 450px;
}

.slider {
    -webkit-appearance: none;
    width: 150px;
    height: 10px;
    outline: none;
    opacity: 0.7;
    border-radius: 12px;
}

.slider-labels {
    margin: 0px auto;
    width: 450px;
    font-weight: bold;
}

.reset-button {
    padding-top: 55px;
    width: 500px;
    margin: 0px auto;
    text-align: center;
}

#learn-button {
    background-color: rgb(38, 193, 175);
}

#play-button {
    background-color: rgb(228, 107, 70);
}

a#learn-button:hover {
    background:linear-gradient(to bottom, rgb(38, 193, 175) 10%, rgb(29, 154, 139) 100%);
}

a#play-button:hover {
    background:linear-gradient(to bottom, rgb(228, 107, 70) 10%, rgb(183, 68, 33) 100%);
}

#next-button {
    border: none;
    text-decoration: none;
    background-color:rgb(66, 196, 126);
    color: white;
    float: right;
    margin-right: 60px;
    height: 30px;
    width: 50px;
}

#finish-button {
    border: none;
    text-decoration: none;
    background-color:rgb(66, 196, 126);
    color: white;
    float: right;
    margin-right: 60px;
    height: 30px;
    width: 50px;
    font-size: 13px;
    line-height: 30px;
}

#back-button {
    border: none;
    text-decoration: none;
    background-color:rgb(209, 209, 209);
    color: black;
    float: right;
    height: 30px;
    width: 50px;
}

#next-button:hover {
    cursor: pointer;
    background:linear-gradient(to top, rgb(59, 166, 109) 10%, rgb(66, 196, 126) 100%);
}

#back-button:hover {
    cursor: pointer;
    background:linear-gradient(to top, rgb(163, 161, 161) 10%, rgb(209, 209, 209) 100%);
}

#finish-button:hover {
    cursor: pointer;
    background:linear-gradient(to top, rgb(59, 166, 109) 10%, rgb(66, 196, 126) 100%);
}

#sauropod {
    height: 185px;
    margin-left: 180px;
}

#learn-text, #play-text {
    text-align: left;
    margin-top: 0px;
    padding-left: 10px;
}

#slope, #m {
    color: rgb(38, 193, 175);
}

#y-intercept, #b {
    color: rgb(228, 107, 70);
}

#slope-slider {
    float: left;    
    background: rgb(38, 193, 175);
}

#y-intercept-slider {
    float: right;
    background: rgb(228, 107, 70);
}

#slope-slider-label {
   float: left;
}

#y-intercept-slider-label {
    padding-right: 50px;
    float: right;
}

#reset-button {
    font-size: 20px;
    background-color: rgb(244, 96, 96);
    border-color: rgb(202, 38, 38);
    border-radius: 15px;
}

#reset-button:hover {
    cursor: pointer;
}

#reset-button:hover {
    cursor: pointer;
    background:linear-gradient(to top, rgb(229, 87, 87) 10%, rgb(244, 96, 96) 100%);
}

#answer {
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
