h1 {
    text-align:center;
    font-size: 30px;
    padding-top: 20px;
    margin: 0 auto;
}

h2 {
    text-align:center;
    font-size: 50px;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
}

div {
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
}

.Row {
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
    padding: 0px;
}

.Col {
    display: table-cell;
    vertical-align: top;
    padding: 0px;
}

.question-menu {
    width: 150px;
    background-color:rgb(233, 211, 203);
}

.practice-menu {
    font-weight: bold;
    padding-top: 10px;
    width: 150px;
    background-color:rgb(233, 211, 203);
}



.sliders {
    margin: 0px auto;
    width: 450px;
}

.slider {
    -webkit-appearance: none;
    width: 150px;
    height: 10px;
    outline: none;
    opacity: 0.7;
    border-radius: 12px;
}

.slider-labels {
    margin: 0px auto;
    width: 450px;
    font-weight: bold;
}

.reset-button {
    padding-top: 60px;
    width: 500px;
    margin: 0px auto;
    text-align: center;
}

#slope, #m {
    color: rgb(38, 193, 175);
}

#y-intercept, #b {
    color: rgb(228, 107, 70);
}

#slope-slider {
    float: left;    
    background: rgb(38, 193, 175);
}

#y-intercept-slider {
    float: right;
    background: rgb(228, 107, 70);
}

#slope-slider-label {
   float: left;
}

#y-intercept-slider-label {
    padding-right: 50px;
    float: right;
}

#reset-button {
    font-size: 20px;
    background-color: rgb(244, 96, 96);
    border-color: rgb(202, 38, 38);
    border-radius: 15px;
}

